@import url("../fonts/montserrat/montserrat.css");
@import url("../fonts/menlo/menlo.css");
/*
 *  Owl Carousel - Core
 */
.owl-carousel {
  display: none;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  /* position relative and z-index fix webkit rendering fonts issue */
  position: relative;
  z-index: 1;
}

.owl-carousel .owl-stage {
  position: relative;
  -ms-touch-action: pan-Y;
  touch-action: manipulation;
  -moz-backface-visibility: hidden;
  /* fix firefox animation glitch */
}

.owl-carousel .owl-stage:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.owl-carousel .owl-stage-outer {
  position: relative;
  overflow: hidden;
  /* fix for flashing background */
  -webkit-transform: translate3d(0px, 0px, 0px);
}

.owl-carousel .owl-wrapper,
.owl-carousel .owl-item {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
}

.owl-carousel .owl-item {
  position: relative;
  min-height: 1px;
  float: left;
  -webkit-backface-visibility: hidden;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

.owl-carousel .owl-item img {
  display: block;
  width: 100%;
}

.owl-carousel .owl-nav.disabled,
.owl-carousel .owl-dots.disabled {
  display: none;
}

.owl-carousel .owl-nav .owl-prev,
.owl-carousel .owl-nav .owl-next,
.owl-carousel .owl-dot {
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.owl-carousel .owl-nav button.owl-prev,
.owl-carousel .owl-nav button.owl-next,
.owl-carousel button.owl-dot {
  background: none;
  color: inherit;
  border: none;
  padding: 0 !important;
  font: inherit;
}

.owl-carousel.owl-loaded {
  display: block;
}

.owl-carousel.owl-loading {
  opacity: 0;
  display: block;
}

.owl-carousel.owl-hidden {
  opacity: 0;
}

.owl-carousel.owl-refresh .owl-item {
  visibility: hidden;
}

.owl-carousel.owl-drag .owl-item {
  -ms-touch-action: pan-y;
      touch-action: pan-y;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.owl-carousel.owl-grab {
  cursor: move;
  cursor: -webkit-grab;
  cursor: grab;
}

.owl-carousel.owl-rtl {
  direction: rtl;
}

.owl-carousel.owl-rtl .owl-item {
  float: right;
}

/* No Js */
.no-js .owl-carousel {
  display: block;
}

/*
 *  Owl Carousel - Animate Plugin
 */
.owl-carousel .animated {
  -webkit-animation-duration: 1000ms;
          animation-duration: 1000ms;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.owl-carousel .owl-animated-in {
  z-index: 0;
}

.owl-carousel .owl-animated-out {
  z-index: 1;
}

.owl-carousel .fadeOut {
  -webkit-animation-name: fadeOut;
          animation-name: fadeOut;
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/*
 * 	Owl Carousel - Auto Height Plugin
 */
.owl-height {
  -webkit-transition: height 500ms ease-in-out;
  transition: height 500ms ease-in-out;
}

/*
 * 	Owl Carousel - Lazy Load Plugin
 */
.owl-carousel .owl-item {
  /**
			This is introduced due to a bug in IE11 where lazy loading combined with autoheight plugin causes a wrong
			calculation of the height of the owl-item that breaks page layouts
		 */
}

.owl-carousel .owl-item .owl-lazy {
  opacity: 0;
  -webkit-transition: opacity 400ms ease;
  transition: opacity 400ms ease;
}

.owl-carousel .owl-item .owl-lazy[src^=""], .owl-carousel .owl-item .owl-lazy:not([src]) {
  max-height: 0;
}

.owl-carousel .owl-item img.owl-lazy {
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

/*
 * 	Owl Carousel - Video Plugin
 */
.owl-carousel .owl-video-wrapper {
  position: relative;
  height: 100%;
  background: #000;
}

.owl-carousel .owl-video-play-icon {
  position: absolute;
  height: 80px;
  width: 80px;
  left: 50%;
  top: 50%;
  margin-left: -40px;
  margin-top: -40px;
  background: url("owl.video.play.png") no-repeat;
  cursor: pointer;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  -webkit-transition: -webkit-transform 100ms ease;
  transition: -webkit-transform 100ms ease;
  transition: transform 100ms ease;
  transition: transform 100ms ease, -webkit-transform 100ms ease;
}

.owl-carousel .owl-video-play-icon:hover {
  -webkit-transform: scale(1.3, 1.3);
          transform: scale(1.3, 1.3);
}

.owl-carousel .owl-video-playing .owl-video-tn,
.owl-carousel .owl-video-playing .owl-video-play-icon {
  display: none;
}

.owl-carousel .owl-video-tn {
  opacity: 0;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  -webkit-transition: opacity 400ms ease;
  transition: opacity 400ms ease;
}

.owl-carousel .owl-video-frame {
  position: relative;
  z-index: 1;
  height: 100%;
  width: 100%;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: 'Roboto';
  font-weight: normal;
}

.btn {
  color: #fff;
  background: #0060C1;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  display: block;
  text-decoration: none;
  border: 1px solid transparent;
  cursor: pointer;
  transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
}

.btn:hover {
  border: 1px solid #0060C1;
  color: #fff !important;
  -webkit-box-shadow: 0 0 20px 0 rgba(0, 96, 193, 0.7);
          box-shadow: 0 0 20px 0 rgba(0, 96, 193, 0.7);
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin: 40px 0;
}

.table td, .table th {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding: 5px;
}

.table.not-border td, .table.not-border th {
  border: none;
  text-align: left;
}

.hidden {
  overflow: hidden !important;
  display: none !important;
  opacity: 0 !important;
}

input, select, textarea {
  outline: none;
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

input:focus, select:focus, textarea:focus {
  border: 1px solid #0060C1;
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 96, 193, 0.2);
          box-shadow: 0 0 10px 0 rgba(0, 96, 193, 0.2);
}

label {
  margin-right: 20px;
}

.header {
  width: 100%;
  height: 100vh;
  background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.9)), to(rgba(0, 0, 0, 0.9))), url("../img/header_bg.webp") no-repeat center center;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url("../img/header_bg.webp") no-repeat center center;
  background-size: cover;
}

.header a {
  text-decoration: none;
  color: #fff;
  display: inline-block;
  padding: 10px;
  transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  margin-bottom: 30px;
}

.header a:hover {
  color: #0060C1;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #fff;
  padding: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1400px;
  margin: 0 auto;
}

.header__logo {
  font-family: 'Menlo';
  font-size: 20px;
}

.header .carousel {
  height: calc(100% - 84px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header .owl-carousel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  max-width: 1400px;
  position: relative;
  text-align: center;
}

.header .owl-carousel .item {
  padding: 0 80px;
}

.header .owl-carousel .item h2 {
  font-size: 35px;
  font-family: Helvetica;
  font-weight: bold;
}

.header .owl-carousel .item p {
  line-height: 1.7;
  font-size: 18px;
}

.header .owl-carousel .item .btn {
  margin-top: 10px;
}

.header .owl-carousel .owl-nav .owl-prev {
  position: absolute;
  left: 15px;
  padding: 10px;
  font-size: 55px;
  outline: none;
  background: none;
  height: 100%;
}

.header .owl-carousel .owl-nav .owl-next {
  position: absolute;
  right: 15px;
  padding: 10px;
  font-size: 55px;
  height: 100%;
  outline: none;
  background: none;
}

.addtobase {
  background: rgba(0, 0, 0, 0.1);
  padding: 10px 0;
}

.addtobase .container {
  max-width: 1400px;
  margin: 0 auto;
}

.addtobase table {
  margin-bottom: 20px;
}

.addtobase__table {
  width: 100%;
  border-collapse: collapse;
}

.addtobase__table th, .addtobase__table td {
  text-align: center;
}

.addtobase input, .addtobase select {
  width: 95%;
}

.addtobase input[type="number"], .addtobase select[type="number"] {
  max-width: 70px;
  text-align: center;
}

.addtobase input.small, .addtobase select.small {
  max-width: 100px;
}

.db_table {
  max-width: 1400px;
  margin: 0 auto;
  padding: 20px 0 40px;
}

.db_table__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.db_table__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.db_table__item {
  margin: 10px;
  padding: 10px;
  background: #0060C1;
  color: #ffffff;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.modals {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 1000;
  display: none;
}

.modals .item {
  display: none;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  max-width: 1200px;
  width: 90%;
  background: #fff;
  -webkit-box-shadow: 0 0 30px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 30px 0px rgba(0, 0, 0, 0.15);
  animation: modalshow .4s;
  -webkit-animation: modalshow .4s;
  z-index: 1001;
}

.modals .item.active {
  display: block;
}

.modals__header {
  font-size: 15px;
  padding: 15px 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.modals__title {
  margin: 0;
}

.modals__body {
  padding: 40px 20px;
  height: 100%;
  max-height: 60vh;
  overflow: hidden;
  overflow-y: auto;
}

.modals__footer {
  padding: 20px;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.modals__footer .btn {
  margin-left: auto;
}

.modals__close:before {
  content: '\00d7';
  color: #000;
  font-weight: bold;
  font-size: 20px;
  font-family: Arial, sans-serif;
  cursor: pointer;
  padding: 10px;
}

.toast-top-full-width {
  width: 100%;
  z-index: 1001;
  position: fixed;
  top: 0;
  left: 0;
}

.toast {
  margin: 15px auto;
  width: 300px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
}

.toast-close-button {
  outline: none;
  background: none;
  border: none;
  color: #ffffff;
  cursor: pointer;
  padding: 10px;
}

.toast-success {
  background: green;
}

.toast-error {
  background: red;
}

@-webkit-keyframes modalshow {
  0% {
    margin-bottom: 50px;
  }
  100% {
    margin: 0;
  }
}

@keyframes modalshow {
  0% {
    margin-bottom: 50px;
  }
  100% {
    margin: 0;
  }
}
